# Vanilla elo

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [19]:
from datetime import datetime, timedelta

In [4]:
## load data
raw_data = pd.read_csv("/Users/tejaswin.p/Downloads/data_nbaallelo.csv", )
print "Total rows:", len(raw_data)
print "Total columns:", len(raw_data.columns)

Total rows: 126314
Total columns: 23

In [5]:
raw_data.columns

Index([u'gameorder', u'game_id', u'lg_id', u'_iscopy', u'year_id',
       u'date_game', u'seasongame', u'is_playoffs', u'team_id', u'fran_id',
       u'pts', u'elo_i', u'elo_n', u'win_equiv', u'opp_id', u'opp_fran',
       u'opp_pts', u'opp_elo_i', u'opp_elo_n', u'game_location',
       u'game_result', u'forecast', u'notes'],
      dtype='object')

In [10]:
df_data = raw_data[[u'gameorder', u'game_id', u'lg_id', u'_iscopy', u'year_id',
       u'date_game', u'seasongame', u'is_playoffs', u'team_id', u'fran_id',
       u'pts', u'opp_id', u'opp_fran',
       u'opp_pts', u'game_location',
       u'game_result']][raw_data._iscopy==0].copy()

In [11]:
print "Data:", df_data.shape

Data: (63157, 16)

In [24]:
df_data.date_game.head(10)

0     11/1/1946
2     11/2/1946
4     11/2/1946
7     11/2/1946
9     11/2/1946
11    11/3/1946
12    11/4/1946
14    11/5/1946
17    11/5/1946
19    11/7/1946
Name: date_game, dtype: object

In [25]:
_d = "11/1/1946"
def string_to_datetime(dstring):
    m, d, y = dstring.strip().split('/')
    return datetime(int(y), int(m), int(d))

In [26]:
df_data["game_datetime"] = df_data.date_game.map(string_to_datetime)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,opp_id,opp_fran,opp_pts,game_location,game_result,game_datetime
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,NYK,Knicks,68,H,L,1946-11-01
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,NYK,Knicks,47,H,W,1946-11-02
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,WSC,Capitols,50,H,L,1946-11-02
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,59,BOS,Celtics,53,H,W,1946-11-02
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,PIT,Ironmen,51,H,W,1946-11-02

### Tracking the franchises through time.

In [33]:
df_data[["lg_id", "team_id", "fran_id", "year_id"]].drop_duplicates().sort_values(["fran_id", "year_id"]).head(10)

     lg_id team_id    fran_id  year_id
702    NBA     BLB  Baltimore     1948
1137   NBA     BLB  Baltimore     1949
1909   NBA     BLB  Baltimore     1950
3079   NBA     BLB  Baltimore     1951
3841   NBA     BLB  Baltimore     1952
4562   NBA     BLB  Baltimore     1953
5296   NBA     BLB  Baltimore     1954
9      NBA     STB    Bombers     1947
734    NBA     STB    Bombers     1948
1151   NBA     STB    Bombers     1949